{% extends 'base.html' %}

{% block title %} change password {% endblock title %}

{% block css %}

{% endblock %}
{% load crispy_forms_tags %}
  {% block body %}




    <!-- Update form -->
<div class='container my-3'>
    <center>
        <h2>Change Password</h2>
    </center>
    <br>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex">
            <div>
                <a href="/home" class="btn btn-outline-info btn-lg" role="button">Back</a>
            </div>
            <div class="ml-auto">
                <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock body%}