{% extends 'forgotpwdbase.html' %}

{% block title %} change password {% endblock title %}

{% block css %}

{% endblock %}
{% load crispy_forms_tags %}
  {% block body %}

<div class='container my-5 w-50 p-3'>
<div class="jumbotron">
  <h1 class="display-4">Reset Password</h1>
  <p class="lead">Enter your new password</p>
  <hr class="my-4">
  <form class="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
    <div class="text-center mb-3">
      <button type="submit" class="btn btn-success btn-lg"><i class="icon-lock4"></i> Change Password</button>
    </div>
</form>
</div>
</div>




{% endblock body%}