{% extends 'admsbase.html' %}

{% block title %} Add Blog {% endblock title %}

{% block css %}

      body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: Arial;
}

input[type=text], [type=number]{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

 textarea{
  display: block;
    width: 100%;
    height: calc(8.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


{% endblock %}
{% load crispy_forms_tags %}
  {% block body %}




    <!-- Update form -->
<div class='container my-3'>
  <h3>Add Blog</h3>

<!--  <form method="POST"  action="/adms/uploadblog">
        {% csrf_token %}
      {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save Blog</button>

</form> -->

        <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}

            {% for field in upload %}

                {{field.label }}
                {{ field }}
            <br>

            {% endfor %}
        <br>
        <button type="submit" class="btn btn-lg btn-success">Submit</button>
    </form>


<!--
<form action="" method="POST">
{% csrf_token %}

{{ form.as_p }}

<input type="submit" value="Add Post"/>
</form>
<br/><br/>-->


 <!--<form action = "/adms/addblog" method = "post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save Blog</button>
</form> -->
<!--
<form method="POST" class="post-form" action="/adms/admsblog">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Enter Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">title:</label>
    <div class="col-sm-4">
      {{ form.title }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">author:</label>
    <div class="col-sm-4">
      {{ form.author }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">slug:</label>
    <div class="col-sm-4">
      {{ form.slug }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">content:</label>
    <div class="col-sm-4">
      {{ form.content }}
    </div>
  </div>
      <div class="form-group row">
    <label class="col-sm-2 col-form-label">timeStamp:</label>
    <div class="col-sm-4">
      {{ form.timeStamp }}
    </div>
  </div>
      <div class="form-group row">
    <label class="col-sm-2 col-form-label">image:</label>
    <div class="col-sm-4">
      {{ form.image }}
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </div>
</form>-->







</div>

{% endblock body%}