{% extends 'base.html' %}

{% block title %} Add Blog {% endblock title %}

{% block css %}

{% endblock %}
{% load crispy_forms_tags %}
  {% block body %}




    <!-- Update form -->
<div class='container my-3'>
  <h3>Add Blog</h3>

  <form method="POST"  action=" " id ='form'>
        {% csrf_token %}
 <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" >
  </div>
  <div class="form-group">
    <label for="author">Auther</label>
    <input type="text" class="form-control" name="author" id="author">
  </div>
  <div class="form-group">
    <label for="slug">vanity_url</label>
    <input type="text" class="form-control" name="slug" id="slug">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" name="content" id="content" rows="3"></textarea>
  </div>

    <div class="form-group">
      <label for="image1">Image</label>
      <div class="btn btn-online-primary">
        <input class="form-control-btn btn-light" name="image" id="image1" type="file">
      </div>
    </div>

    <div class="form-group">
    <button type="submit" value="upload" class="btn btn-primary btn-lg">Submit</button>
    </div>
</form>

</div>
<script>
submitForms = function(){
    document.getElementById("form").submit();
    document.getElementById("form1").submit();

}

{% endblock body%}